<nav class="sticky-sm-top black line">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto
            text-decoration-none">
            <span class="fs-4">QRcode</span>
        </a>
    </div>
</nav>