<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text</title>
    <link rel="stylesheet" href="./css/text.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
</head>

<body>
    <%- include("../partials/navbar") %>

        <div class="d-flex flex-wrap justify-content-center">
            <div class="form__group field">
                <input type="number" class="form__field" placeholder="amount" id='amount' />
                <label for="name" class="form__label">Amount</label>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Address" id='addr' />
                <label for="name" class="form__label">Address</label>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Message" id='msg' />
                <label for="name" class="form__label">Message</label>
            </div>
        </div>
        <div class="pt-3 px-5 d-flex flex-wrap justify-content-center">
            <span class="input-group-text">Crypto currency:</span>
            <select class="form-select mb-3" aria-label="crypto" id="cc">
                <option selected value="btc">Bitcoin</option>
                <option value="btcc">Bitcoin cash</option>
                <option value="ether">Ether</option>
                <option value="lite">Litecoin</option>
                <option value="dash">Dash</option>
            </select>
            <button id="Gen" type="button" class="btn btn-outline-info btn-lg  px-4 me-sm-3 fw-bold"><i
                    class="fa-solid fa-rotate"></i>&nbsp;Generate
            </button>
        </div>
        <br>
        <div class="d-flex flex-wrap justify-content-center">
            <div id="qr"></div>
        </div>

        <%- include("../partials/footer.ejs") %>

            <script src="./js/qrcode.js"></script>
            <script src="./js/btc.js"></script>
            <script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>