<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <%- include("../partials/navbar") %>

        <div class="justify-content-center px-5">
            <div class="input-group mb-3">
                <span class="input-group-text">Email:</span>
                <input type="text" id="email" class="form-control" placeholder="Email" aria-label="Email">
            </div>
            <div class="input-group">
                <span class="input-group-text">Subject:</span>
                <input class="form-control" id="subject" placeholder="i.e. Hello">
            </div><br>
            <div class="input-group">
                <span class="input-group-text">Message:</span>
                <input class="form-control" id="message" placeholder="i.e. How are you?">
            </div>
            <br>
            <button id="Gen" type="button" class="btn btn-outline-info btn-lg
            px-4
            me-sm-3 fw-bold"><i class="fa-solid fa-rotate"></i>&nbsp;Generate
            </button><br>
            <div class="pt-3" id="result"></div>
        </div>

        <%- include("../partials/footer.ejs") %>

            <script src="./js/qrcode.js"></script>
            <script src="./js/email.js"></script>
            <script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>