<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./css/all.min.css" />


</head>

<body>
  <%- include("../partials/navbar") %>

    <div class="text-secondary px-4 pt-5 pb-2 text-center black">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button id="wifi" type="button" class="btn btn-outline-info
            btn-lg
            px-4
            me-sm-3 fw-bold">
          <i class="fa-solid fa-wifi"></i>&nbsp;WIFI
        </button>

        <button id="text" type="button" class="btn btn-outline-info btn-lg
            px-4
            me-sm-3 fw-bold">
          <i class="fa-solid fa-keyboard"></i>&nbsp;Text
        </button>
      </div>
    </div>
    <div class="text-secondary px-4 pb-5 text-center black">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button id="email" type="button" class="btn btn-outline-info btn-lg
            px-4
            me-sm-3 fw-bold"><i class="fa-solid fa-envelope"></i>&nbsp;Email
        </button>
        <button id="btc" type="button" class="btn btn-outline-info btn-lg
            px-4
            me-sm-3 fw-bold"><i class="fa-brands fa-bitcoin"></i>&nbsp;Bitcoin
        </button>
      </div>
    </div>
    </div>
    </div>

    <%- include("../partials/footer.ejs") %>

      <script src="./js/script.js"></script>
      <script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>